{% extends "base.html" %}

{% block title %}Editar producto{% endblock %}

{% block content %}
    <h1>Editar producto</h1>

    <a class="boton-volver" href="{{ url_for('ver_productos') }}">Volver a productos</a>

    {% if mensaje %}
        <p class="mensaje">{{ mensaje }}</p>
    {% endif %}

    <form method="POST" class="formulario">
        <input
            type="text"
            name="nombre"
            value="{{ producto.nombre }}"
            placeholder="Nombre del producto"
            required
        >

        <input
            type="number"
            name="precio"
            step="0.01"
            value="{{ producto.precio }}"
            placeholder="Precio"
            required
        >

        <button type="submit">Guardar cambios</button>
    </form>
{% endblock %}